@model GamingForum.Models.DiscussionViewModels.CreateViewModel

<div class="container-fluid">
	<h1 class="mt-4">Create</h1>
	<div class="row">
		<div class="col-lg-6">
			<div class="card mb-4">
				<form asp-controller="Discussion" asp-action="Add" method="post" enctype="multipart/form-data">
					<div class="card-header">
						<i class="fas fa-pen-fancy mr-1"></i>
						Write discussion
					</div>
					<div class="card-body">
							<div class="form-group">
								<label asp-for="Discussion.Title"></label>
								<input asp-for="Discussion.Title" class="form-control" required />
								<span asp-validation-for="Discussion.Title" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label asp-for="Discussion.Content"></label>
								@*<input asp-for="Discussion.Content" class="form-control textarea" rows="8" required />*@
								<textarea asp-for="Discussion.Content" class="form-control textarea" rows="8"></textarea>
								<span asp-validation-for="Discussion.Content" class="text-danger"></span>
							</div>
							<div class="form-group">
								<label>Please select a game</label>
								<select asp-for="Discussion.GameName" class="form-control" required>
									<option value="Runescape3">Runescape3</option>
									<option value="Old School Runescape">Old School Runescape</option>
									<option value="World Of Warcraft">World Of Warcraft</option>
									<option value="Maplestory">MapleStory</option>
								</select>
							</div>
					</div>
					<div class="card-footer">
						<div class="form-group">
							<button class="btn btn-primary" type="submit">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
@section Scripts{
	<script src="https://cdn.ckeditor.com/ckeditor5/21.0.0/classic/ckeditor.js"></script>
	<script>
		ClassicEditor
			.create(document.querySelector('.textarea'))
			.catch(error => {
				console.error(error);
			});

		$(".custom-file-input").on("change",function(){
			var fileName = $(this).val().split("\\").pop();
			$(this).siblings(".custom-file-label").addClass("selected").html(fileName);
		});
	</script>
}